In [508]:
import numpy as np
import pandas as pd

In [509]:
df = pd.read_excel('Application Form Table.xlsx', header=1)

In [510]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 46 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   ID:                                              958 non-null    int64
 1   Actions                                          958 non-null    object
 2   Title of Paper                                   958 non-null    object
 3   Year                                             958 non-null    object
 4   Application Type                                 958 non-null    object
 5   Application Course                               958 non-null    object
 6   Application Department                           958 non-null    object
 7   Application Class                                958 non-null    object
 8   UCID Applicant 1                                 504 non-null    object
 9   Applicant 1 Name                                 958 non-null    object
 10  Applicant 1 Email                                509 non-null    object
 11  Applicant 1 Contact                              482 non-null    float64
 12  UCID Applicant 2                                 349 non-null    object
 13  Applicant 2 Name                                 544 non-null    object
 14  Applicant 2 Email                                346 non-null    object
 15  Applicant 2 Contact                              307 non-null    object
 16  UCID Applicant 3                                 280 non-null    object
 17  Applicant 3 Name                                 420 non-null    object
 18  Applicant 3 Email:                               279 non-null    object
 19  Applicant 3 Contact                              245 non-null    object
 20  UCID Applicant 4                                 38 non-null     object
 21  Applicant 4 Name                                 81 non-null     object
 22  Applicant 4 Email                                39 non-null     object
 23  Applicant 4 Contact                              32 non-null     float64
 24  Guid 1 Department                                0 non-null      float64
 25  Guid 1 Name                                      914 non-null    object
 26  Guid 2 Department                                0 non-null      float64
 27  Guid 2 Name                                      208 non-null    object
 28  Unnamed: 28                                      954 non-null    object
 29  Type of Paper                                    954 non-null    object
 30  Type of Publication                              336 non-null    object
 31  Name of the Conference/journal/publisher         324 non-null    object
 32  Is awarded for anything                          21 non-null     object
 33  Award Details in description                     958 non-null    object
 34  Date Of Conference / Journal / Book              926 non-null    object
 35  Conference_Type                                  480 non-null    object
 36  Name of the Hosting Institute of the Conference  506 non-null    object
 37  Address of Host Institute                        377 non-null    object
 38  ISBN                                             250 non-null    object
 39  Indexed                                          143 non-null    object
 40  DOI                                              66 non-null     object
 41  Citation of Journal                              32 non-null     object
 42  Journal from                                     145 non-null    object
 43  Document Url                                     324 non-null    object
 44  Certificate Url                                  278 non-null    object
 45  Remark                                           958 non-null    object
dtypes: float64(4), int64(1), object(41)
memory usage: 344.4+ KB

In [511]:
# Specify the column(s) you want to drop
columns_to_drop = ['ID:', 'Actions', 'UCID Applicant 1', 'Applicant 1 Name', 'Applicant 1 Email', 'Applicant 1 Contact', 'UCID Applicant 2', 'Applicant 2 Name', 'Applicant 2 Email', 'Applicant 2 Contact', 'UCID Applicant 3', 'Applicant 3 Name', 'Applicant 3 Email:', 'Applicant 3 Contact', 'UCID Applicant 4', 'Applicant 4 Name', 'Applicant 4 Email', 'Applicant 4 Contact', 'Guid 1 Department', 'Guid 2 Department', 'Name of the Hosting Institute of the Conference', 'Address of Host Institute', 'ISBN', 'Indexed', 'DOI', 'Citation of Journal', 'Journal from', 'Document Url', 'Certificate Url', 'Remark']

# Drop the specified columns
df = df.drop(columns=columns_to_drop)

In [512]:
# Create a dictionary with old column names as keys and new column names as values
columns_to_rename = {'Conference_Type': 'Name of Hosting Institute', 'Date Of Conference / Journal / Book': 'Conference_Type', 'Award Details in description': 'Date Of Conference / Journal / Book', 'Award Details in description': 'Date Of Conference / Journal / Book', 'Is awarded for anything': 'Award Details in description', 'Name of the Conference/journal/publisher': 'Is awarded for anything', 'Type of Publication': 'Name of the Conference/journal/publisher', 'Type of Paper': 'Type of Publication', 'Unnamed: 28': 'Type of Paper'}

# Rename the specified columns
df = df.rename(columns=columns_to_rename)

In [513]:
# Specify the column(s) you want to drop
columns_to_drop = ['Date Of Conference / Journal / Book', 'Is awarded for anything', 'Award Details in description', 'Name of Hosting Institute', 'Name of the Conference/journal/publisher']

# Drop the specified columns
df = df.drop(columns=columns_to_drop)

In [514]:
df['Year'].unique()

array(['2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22',
       '2022-23', '2023-24', '2024-25'], dtype=object)

In [515]:
df['Application Type'].unique()

array(['Student', 'Faculty', 'Research Scholar', 'faculty', 'student'],
      dtype=object)

In [516]:
# Specify the column and the dictionary of old and new values
column_to_rename_values = {'faculty': 'Faculty', 'student': 'Student'}

# Rename values in the specified column
df['Application Type'] = df['Application Type'].replace(column_to_rename_values)

In [517]:
df['Application Type'].unique()

array(['Student', 'Faculty', 'Research Scholar'], dtype=object)

In [518]:
df['Application Course'].unique()

array(['UG', 'PG', 'PhD', 'Faculty'], dtype=object)

In [519]:
df['Application Department'].unique()

array(['COMPS', 'IT', 'ETRX', 'MCA', 'EXTC', 'ASH'], dtype=object)

In [520]:
# Filter the DataFrame to rows where 'Application Department' equals 'ASH', then count the occurrences
count_ash = (df['Application Department'] == 'ASH').sum()
count_ash

1

In [521]:
df['Application Department'] = df['Application Department'].replace('ASH', np.nan)

In [522]:
df['Application Class'].unique()

array(['F.E.', 'Student', 'B.E.', 'S.Y.MTech', 'T.Y.MCA', 'Faculty',
       'PhD', 'F.Y.', 'T.E.', 'M.E.', 'S.Y.', 'T.Y.', 'S.E.',
       'Research Scholar', 'S.Y.MCA', 'F.Y.MTech', 'F.Y.MCA'],
      dtype=object)

In [523]:
# Filter the DataFrame where Application Class is either "F.E." or "F.Y."
filtered_df = df[(df['Application Class'] == 'F.E.') | (df['Application Class'] == 'F.Y.')]

# Select only the 'Application Department' and 'Application Class' columns in the filtered DataFrame
filtered_df = filtered_df[['Application Department', 'Application Class']]

# Count the number of unique rows in the filtered DataFrame
num_unique_rows = filtered_df.drop_duplicates()

In [524]:
num_unique_rows

    Application Department Application Class
0                    COMPS              F.E.
76                   COMPS              F.Y.
194                     IT              F.E.
322                   ETRX              F.E.
437                   EXTC              F.E.

In [525]:
# Specify the column and the dictionary of old and new values
column_to_rename_values = {'F.E.': 'F.Y.'}

# Rename values in the specified column
df['Application Class'] = df['Application Class'].replace(column_to_rename_values)

In [526]:
# Filter the DataFrame where Application Class is either "T.E." or "T.Y."
filtered_df = df[(df['Application Class'] == 'T.E.') | (df['Application Class'] == 'T.Y.')]

# Select only the 'Application Department' and 'Application Class' columns in the filtered DataFrame
filtered_df = filtered_df[['Application Department', 'Application Class']]

# Count the number of unique rows in the filtered DataFrame
num_unique_rows = filtered_df.drop_duplicates()

In [527]:
num_unique_rows

    Application Department Application Class
143                  COMPS              T.E.
272                     IT              T.E.
397                    MCA              T.Y.
427                    MCA              T.E.
635                     IT              T.Y.
684                   EXTC              T.E.
693                  COMPS              T.Y.
841                   ETRX              T.E.

In [528]:
# Specify the column and the dictionary of old and new values
column_to_rename_values = {'T.E.': 'T.Y.'}

# Rename values in the specified column
df['Application Class'] = df['Application Class'].replace(column_to_rename_values)

In [529]:
filtered_df = df[(df['Application Department'] == 'MCA') & (df['Application Class'] == 'T.Y.')]

In [530]:
filtered_df

,Title of Paper,Year,Application Type,Application Course,Application Department,Application Class,Guid 1 Name,Guid 2 Name,Type of Paper,Type of Publication,Conference_Type
397,Detecting man in the middle attack,2017-18,Student,PG,MCA,T.Y.,Prof. Nikhita Mangaonkar,NaN,Journal,International,IEEE
409,Comparitive study of Data Compression Techniques,2018-19,Student,PG,MCA,T.Y.,Dr.Pooja Raundale,NaN,Journal,International,IEEE
410,Credit card Fraud detection,2018-19,Student,PG,MCA,T.Y.,NaN,NaN,Conference,International,IEEE
422,Companies with dominance in their sector: A Pr...,2019-20,Student,PG,MCA,T.Y.,Prof. Sakina Salmani,NaN,Journal,National,Other
423,Comparative Study of Data Compression Techniques,2019-20,Student,PG,MCA,T.Y.,Dr.Pooja Raundale,NaN,Journal,National,Other
424,Containerzation and its efficiency on google c...,2019-20,Student,PG,MCA,T.Y.,Prof. Nikhita Mangaonkar,NaN,Conference,National,Other
425,Crime spot Detection for chain Snatching using...,2019-20,Student,PG,MCA,T.Y.,Prof. Sakina Salmani,Prof. Mayura Nagar,Conference,National,Other
426,Deepfake: A Survey on Facial Forgery Technique...,2019-20,Student,PG,MCA,T.Y.,Prof. Sakina Salmani,NaN,Conference,National,IEEE
427,Detection of Motor Deficits in Children with A...,2019-20,Student,PG,MCA,T.Y.,Dr. Pooja Raundale,NaN,Conference,International,IEEE
429,IOT Smart Locker,2019-20,Student,PG,MCA,T.Y.,Dr. Arati Karande,NaN,Conference,International,Springer

In [531]:
# Replace 'T.Y.' with 'T.Y.M.C.A.' in 'Application Class' where 'MCA' is written in 'Application Department'
df.loc[df['Application Department'] == 'MCA', 'Application Class'] = df.loc[df['Application Department'] == 'MCA', 'Application Class'].replace('T.Y.', 'S.Y.MCA')

In [532]:
# Assuming df is your DataFrame
# Filter the DataFrame where Application Class is either "F.E." or "F.Y."
filtered_df = df[(df['Application Class'] == 'S.Y.') | (df['Application Class'] == 'S.E.')]

# Select only the 'Application Department' and 'Application Class' columns in the filtered DataFrame
filtered_df = filtered_df[['Application Department', 'Application Class']]

# Count the number of unique rows in the filtered DataFrame
num_unique_rows = filtered_df.drop_duplicates()

In [533]:
num_unique_rows

    Application Department Application Class
372                   ETRX              S.Y.
521                   EXTC              S.E.
550                   EXTC              S.Y.
621                  COMPS              S.E.
677                   ETRX              S.E.
948                    MCA              S.Y.

In [534]:
# Specify the column and the dictionary of old and new values
column_to_rename_values = {'S.E.': 'S.Y.'}

# Rename values in the specified column
df['Application Class'] = df['Application Class'].replace(column_to_rename_values)

In [535]:
# Replace 'T.Y.' with 'T.Y.M.C.A.' in 'Application Class' where 'MCA' is written in 'Application Department'
df.loc[df['Application Department'] == 'MCA', 'Application Class'] = df.loc[df['Application Department'] == 'MCA', 'Application Class'].replace('S.Y.', 'S.Y.MCA')

In [536]:
df['Application Class'].unique()

array(['F.Y.', 'Student', 'B.E.', 'S.Y.MTech', 'T.Y.MCA', 'Faculty',
       'PhD', 'T.Y.', 'M.E.', 'S.Y.', 'S.Y.MCA', 'Research Scholar',
       'F.Y.MTech', 'F.Y.MCA'], dtype=object)

In [537]:
df['Guid 1 Name'].unique()

array(['Dr. Y. S. Rao', 'Prof. Manisha Bansode', 'Dr. Sudhir Dhage',
       'Prof. Manish Parmar', 'Dr. Reena Sonkusare',
       'Prof. Nataasha Raul', 'Prof. Anand Mane', 'Dr. Anant Nimkar',
       'Prof. Dayanand Ambawade', 'Prof. Rupesh Bhoir',
       'Prof. Jyoti Ramteke', 'Prof. Anand Godbole', 'Dr. D. R. Kalbande',
       'Prof. Kiran Gawande', 'Dr.Prachi Gharpure', 'Prof. Reeta Koshy',
       'Prof. Surekha Dholay', 'Dr. Surendra Rathod', 'Dr.Pooja Raundale',
       'Dr. Prachi Gharpure', 'Prof. Jignesh Sisodia', 'A. V. Salunke',
       'Dr. Radha Shankarmani', 'Dr. Preeti Jani', 'Prof. Pramod Bide',
       'Dr. Deepak Karia', 'Prof. Abhijeet Salunke', nan,
       'Prof. Amol Deshpande', 'Prof. Sunil Ghane', 'Prof. P. V. Kasambe',
       'Prof. Varsha Hole', 'Prof. Swapnali Kurhade',
       'Prof. Sheetal Chaudhari', 'Prof. Kailas Devadkar',
       'Prof. Rupali Sawant', 'Prof. Renuka Pawar', 'Prof. Aparna Halbe',
       'Dr. Prasenjit Bhavathankar', 'Prof. Nikahat Mulla',
       'Dr. Rajendra Sutar', 'Prof. G. T. Haldankar',
       'Prof. Kiran Talele', 'Dr. Kushal Tuckley', 'Prof. Payal Shah', 0,
       'Prof. Narendra Bhagat', 'Prof. Prashant Kasambe',
       'Prof. Priya Chimurkar', 'Prof. Najib Ghatte',
       'Prof. Manisha bansode', 'Prof. Priya Deshpande',
       'Dr. Uday Pandit Khot', 'Prof. Sakina Salmani',
       'Prof. Harshil Kanakia', 'Prof. Nikhita Mangaonkar',
       'Prof. Pallavi Thakur', 'Dr. Neeti Desai', 'Prof. Taruna Sharma',
       'Dr. Pooja Raundale', 'Dr. Arati Karande', 'Prof. Mayura Nagar',
       'Dr. Mishra B.K', 'Dr. Sukanya Kulkarni', 'Prof. Vijaya Kamble',
       'Dr. B. K. Mishra', 'Prof. Arti Hadap', 'Dr. Preeti jani',
       'Prof. Milind Paraye', 'Dr. Rajendra Sawant',
       'Dr. Sujata Kulkarni', 'Prof.Pallavi Malame', 'Dr. Amol Despande',
       'Prof Manish Parmar', 'Prof Dayanand Ambawade',
       'Dr. Amol S Deshpande', 'Prof. Dayanand D.Ambawade',
       'Prof. Kailas K. Devadkar', 'Dr. Radha Shakarmani',
       'Prof. Pooja Raundale', 'Dr. Anant V. Nimkar',
       'Dr. Sudhir Namdeorao Dhage', 'Prof. K. T. Talele',
       'Dr. Dhananjay Kalbande', 'Dr. Preetida Vinayakray Jani',
       'Dr. Deepak C Karia', 'Prof. Sunil B. Ghane',
       'Dr. Sujata S Kulkarni', 'Prof. Aarti Karande',
       'Prof. Pallavi Malame', 'Dr. S.S. Rathod',
       'Prof. Manish M. Parmar', 'Prof. Anand D. Mane', 'Dr. Y.S. Rao',
       'Dr. Rita Das', 'Prof. Prachi Dalvi', 'Prof. N.A. Bhagat',
       'Dr. Sukanya A. Kulkarni', 'Dr. Rajendra R Sawant'], dtype=object)

In [538]:
# Convert the 'Guid 1 Name' column to strings
df['Guid 1 Name'] = df['Guid 1 Name'].astype(str)

# Get the unique values of 'Guid 1 Name'
unique_values = df['Guid 1 Name'].unique()

# Define a custom sorting function
def custom_sort(val):
    # Split the string into parts before and after the last letter
    parts = str(val).rsplit(maxsplit=1)
    if len(parts) == 1:
        return ('', parts[0])
    prefix, last_letter = parts
    # Sort by last letter first, then by the prefix
    return (last_letter, prefix)

# Sort the unique values using the custom sorting function
sorted_unique_values = sorted(unique_values, key=custom_sort)

print(sorted_unique_values)

['0', 'nan', 'Prof Dayanand Ambawade', 'Prof. Dayanand Ambawade', 'Dr. Mishra B.K', 'Prof. Manisha Bansode', 'Prof. N.A. Bhagat', 'Prof. Narendra Bhagat', 'Dr. Prasenjit Bhavathankar', 'Prof. Rupesh Bhoir', 'Prof. Pramod Bide', 'Prof. Sheetal Chaudhari', 'Prof. Priya Chimurkar', 'Prof. Dayanand D.Ambawade', 'Prof. Prachi Dalvi', 'Dr. Rita Das', 'Dr. Neeti Desai', 'Dr. Amol S Deshpande', 'Prof. Amol Deshpande', 'Prof. Priya Deshpande', 'Dr. Amol Despande', 'Prof. Kailas Devadkar', 'Prof. Kailas K. Devadkar', 'Dr. Sudhir Dhage', 'Dr. Sudhir Namdeorao Dhage', 'Prof. Surekha Dholay', 'Prof. Kiran Gawande', 'Prof. Sunil Ghane', 'Prof. Sunil B. Ghane', 'Dr. Prachi Gharpure', 'Dr.Prachi Gharpure', 'Prof. Najib Ghatte', 'Prof. Anand Godbole', 'Prof. Arti Hadap', 'Prof. Aparna Halbe', 'Prof. G. T. Haldankar', 'Prof. Varsha Hole', 'Dr. Preeti Jani', 'Dr. Preetida Vinayakray Jani', 'Dr. D. R. Kalbande', 'Dr. Dhananjay Kalbande', 'Prof. Vijaya Kamble', 'Prof. Harshil Kanakia', 'Dr. Arati Karande', 'Prof. Aarti Karande', 'Dr. Deepak Karia', 'Dr. Deepak C Karia', 'Prof. P. V. Kasambe', 'Prof. Prashant Kasambe', 'Dr. Uday Pandit Khot', 'Prof. Reeta Koshy', 'Dr. Sujata Kulkarni', 'Dr. Sujata S Kulkarni', 'Dr. Sukanya Kulkarni', 'Dr. Sukanya A. Kulkarni', 'Prof. Swapnali Kurhade', 'Prof. Pallavi Malame', 'Prof.Pallavi Malame', 'Prof. Anand Mane', 'Prof. Anand D. Mane', 'Prof. Nikhita Mangaonkar', 'Dr. B. K. Mishra', 'Prof. Nikahat Mulla', 'Prof. Mayura Nagar', 'Dr. Anant Nimkar', 'Dr. Anant V. Nimkar', 'Prof. Milind Paraye', 'Prof Manish Parmar', 'Prof. Manish Parmar', 'Prof. Manish M. Parmar', 'Prof. Renuka Pawar', 'Prof. Jyoti Ramteke', 'Dr. Y. S. Rao', 'Dr. Y.S. Rao', 'Dr. S.S. Rathod', 'Dr. Surendra Rathod', 'Prof. Nataasha Raul', 'Dr. Pooja Raundale', 'Dr.Pooja Raundale', 'Prof. Pooja Raundale', 'Prof. Sakina Salmani', 'A. V. Salunke', 'Prof. Abhijeet Salunke', 'Dr. Rajendra Sawant', 'Dr. Rajendra R Sawant', 'Prof. Rupali Sawant', 'Prof. Payal Shah', 'Dr. Radha Shakarmani', 'Dr. Radha Shankarmani', 'Prof. Taruna Sharma', 'Prof. Jignesh Sisodia', 'Dr. Reena Sonkusare', 'Dr. Rajendra Sutar', 'Prof. K. T. Talele', 'Prof. Kiran Talele', 'Prof. Pallavi Thakur', 'Dr. Kushal Tuckley', 'Prof. Manisha bansode', 'Dr. Preeti jani']

In [539]:
# Convert the 'Guid 2 Name' column to strings
df['Guid 2 Name'] = df['Guid 2 Name'].astype(str)

# Get the unique values of 'Guid 2 Name'
unique_values = df['Guid 2 Name'].unique()

# Define a custom sorting function
def custom_sort(val):
    # Split the string into parts before and after the last letter
    parts = str(val).rsplit(maxsplit=1)
    if len(parts) == 1:
        return ('', parts[0])
    prefix, last_letter = parts
    # Sort by last letter first, then by the prefix
    return (last_letter, prefix)

# Sort the unique values using the custom sorting function
sorted_unique_values = sorted(unique_values, key=custom_sort)

print(sorted_unique_values)

['nan', 'Prof. Dayanand Ambawade', 'Prof. Nida Bakereywala', 'Mr. Sarvesh Bedekar', 'Prof. N.A. Bhagat', 'Dr. Prasenjit Bhavathankar', 'D. V. Bhoir', 'Prof. Pramod Bide', 'Prof. Sheetal Chaudhari', 'Priya Chimurkar', 'Prof. Dayanand D.Ambawade', 'Dr. Rita Das', 'Dr. Amol S Deshpande', 'Prof. Kailas K. Devadkar', 'Dr. Sudhir N. Dhage', 'Dr. Sudhir Namdeorao Dhage', 'Prof. Surekha Dholay', 'Prof. Kiran Gawande', 'Prof. Sunil Ghane', 'Prof. Sunil B. Ghane', 'Dr. Prachi Gharpure', 'Prof. Najib Ghatte', 'Prof. Anand Godbole', 'Prof. Aparna Halbe', 'Prof. G. T. Haldankar', 'Prof. Varsha Hole', 'Yogesh Jadhav', 'Dr.Mithali Jage', 'Dr. Dhananjay Kalbande', 'Prof. Vijaya Kamble', 'Prof. Harshil Kanakia', 'Prof. Aarti Karande', 'Dr. Deepak Karia', 'Dr. Deepak C Karia', 'Prof. P. V. Kasambe', 'Prof.P. V. Kasambe', 'Prof. Kaisar Katchi', 'Dr. Uday Pandit Khot', 'Prof. Reeta Koshy', 'Dr. Sujata S Kulkarni', 'Dr. Reena Kumbhare', 'Prof. Swapnali Kurhade', 'Prof Pallavi Malame', 'Prof. Anand D. Mane', 'Prof. Nikhita Mangaonkar', 'Prof. Nikahat Mulla', 'Prof. Mayura Nagar', 'Prof. Meghana Naik', 'Dr. Anant Nimkar', 'Dr. Anant V. Nimkar', 'Prof. Manish M. Parmar', 'Prof. Renuka Pawar', 'Prof. Jyoti Ramteke', 'Dr. Y.S. Rao', 'Dr. S.S. Rathod', 'Dr. Surendra Rathod', 'Dr. Surendra S. Rathod', 'Prof. Nataasha Raul', 'Dr. Pooja Raundale', 'Prof. Pooja Raundale', 'Dr. K.T.V. Reddy', 'Dr.K T V Reddy', 'K.T.V. Reddy', 'Prof. Sakina Salmani', 'Prof. Abhijeet Salunke', 'Dr. Rajendra R Sawant', 'Prof. Rupali Sawant', 'Dr. Payal Hitesh Shah', 'Dr. Radha Shakarmani', 'Dr. Avinash Sharma', 'Dr. Reena Sonkusare', 'Dr. Rajendra Sutar', 'Prof. K. T. Talele', 'Prof. K.T.V. Talele', 'Prof. Kiran Talele', 'Prof. Pallavi Thakur', 'Prof. Ananthalakshmi Venkatesh', 'Prof. Sneha A. Weakey']

In [540]:
# Specify the column and the dictionary of old and new values
column_to_rename_values = {'Prof Dayanand Ambawade': 'Prof. Dayanand Ambawade', 'Prof. N.A. Bhagat': 'Prof. Narendra Bhagat', 'Prof. Dayanand D.Ambawade': 'Prof. Dayanand Ambawade', 'Prof. Amol Deshpande': 'Dr. Amol S Deshpande', 'Dr. Amol Despande': 'Dr. Amol S Deshpande', 'Prof. Kailas K. Devadkar': 'Prof. Kailas Devadkar', 'Dr. Sudhir Dhage': 'Dr. Sudhir Namdeorao Dhage', 'Prof. Sunil Ghane': 'Prof. Sunil B. Ghane', 'Dr.Prachi Gharpure': 'Dr. Prachi Gharpure', 'Dr. Dhananjay Kalbande': 'Dr. D. R. Kalbande', 'Prof. Arati Karande': 'Dr. Aarti Karande', 'Dr. Arati Karande': 'Dr. Aarti Karande', 'Prof. Aarti Karande': 'Dr. Aarti Karande', 'Dr. Y. S. Rao': 'Dr. Y.S. Rao','Dr. Deepak Karia': 'Dr. Deepak C Karia', 'Prof. Prashant Kasambe': 'Prof. P. V. Kasambe', 'Dr. Sujata Kulkarni': 'Dr. Sujata S Kulkarni', 'Dr. Sukanya Kulkarni': 'Dr. Sukanya A. Kulkarni', 'Prof.Pallavi Malame': 'Prof. Pallavi Malame', 'Prof. Anand Mane': 'Prof. Anand D. Mane', 'Dr. Mishra B.K': 'Dr. B. K. Mishra', 'Dr. Anant Nimkar': 'Dr. Anant V. Nimkar', 'Prof Manish Parmar': 'Prof. Manish M. Parmar', 'Prof. Manish Parmar': 'Prof. Manish M. Parmar', 'Dr. Surendra Rathod': 'Dr. Surendra S. Rathod', 'Prof. Pooja Raundale': 'Dr. Pooja Raundale', 'Dr.Pooja Raundale': 'Dr. Pooja Raundale', 'A. V. Salunke': 'Prof. Abhijeet Salunke', 'Dr. Rajendra Sawant': 'Dr. Rajendra R Sawant', 'Dr. Radha Shakarmani': 'Dr. Radha Shankarmani', 'Prof. K. T. Talele': 'Prof. Kiran Talele', 'Prof. Manisha bansode': 'Prof. Manisha Bansode', 'Dr. Preeti jani': 'Dr. Preetida Vinayakray Jani', 'Dr. Preeti Jani': 'Dr. Preetida Vinayakray Jani', 'Dr. S.S. Rathod': 'Dr. Surendra S. Rathod', 'Prof. Payal Shah': 'Dr. Payal Hitesh Shah'}
# Rename values in the specified column
df['Guid 1 Name'] = df['Guid 1 Name'].replace(column_to_rename_values)

In [541]:
# Specify the column and the dictionary of old and new values
column_to_rename_values = {'Prof. N.A. Bhagat': 'Prof. Narendra Bhagat', 'Prof. Dayanand D.Ambawade': 'Prof. Dayanand Ambawade', 'Prof. Kailas K. Devadkar': 'Prof. Kailas Devadkar','Prof. Sunil Ghane': 'Prof. Sunil B. Ghane', 'Dr. Dhananjay Kalbande': 'Dr. D. R. Kalbande', 'Dr. Deepak Karia': 'Dr. Deepak C Karia', 'Dr. Anant Nimkar': 'Dr. Anant V. Nimkar', 'Dr. Surendra Rathod': 'Dr. Surendra S. Rathod', 'Prof. Pooja Raundale': 'Dr. Pooja Raundale', 'Dr. Radha Shakarmani': 'Dr. Radha Shankarmani', 'Prof. K. T. Talele': 'Prof. Kiran Talele', 'Dr. Preeti jani': 'Dr. Preetida Vinayakray Jani', 'Dr. Preeti Jani': 'Dr. Preetida Vinayakray Jani', 'Dr. Sudhir N. Dhage': 'Dr. Sudhir Namdeorao Dhage', 'Prof.P. V. Kasambe': 'Prof. P. V. Kasambe', 'Dr. S.S. Rathod': 'Dr. Surendra S. Rathod', 'Dr.K T V Reddy': 'Dr. K.T.V. Reddy', 'K.T.V. Reddy': 'Dr. K.T.V. Reddy', 'Prof. K.T.V. Talele': 'Prof. Kiran Talele', 'Priya Chimurkar': 'Prof. Priya Chimurkar', 'Prof Pallavi Malame': 'Prof. Pallavi Malame', 'Prof. Aarti Karande': 'Dr. Aarti Karande'}
# Rename values in the specified column
df['Guid 2 Name'] = df['Guid 2 Name'].replace(column_to_rename_values)

In [542]:
# Convert the 'Guid 1 Name' column to strings
df['Guid 1 Name'] = df['Guid 1 Name'].astype(str)

# Get the unique values of 'Guid 1 Name'
unique_values = df['Guid 1 Name'].unique()

# Define a custom sorting function
def custom_sort(val):
    # Split the string into parts before and after the last letter
    parts = str(val).rsplit(maxsplit=1)
    if len(parts) == 1:
        return ('', parts[0])
    prefix, last_letter = parts
    # Sort by last letter first, then by the prefix
    return (last_letter, prefix)

# Sort the unique values using the custom sorting function
sorted_unique_values = sorted(unique_values, key=custom_sort)

print(sorted_unique_values)

['0', 'nan', 'Prof. Dayanand Ambawade', 'Prof. Manisha Bansode', 'Prof. Narendra Bhagat', 'Dr. Prasenjit Bhavathankar', 'Prof. Rupesh Bhoir', 'Prof. Pramod Bide', 'Prof. Sheetal Chaudhari', 'Prof. Priya Chimurkar', 'Prof. Prachi Dalvi', 'Dr. Rita Das', 'Dr. Neeti Desai', 'Dr. Amol S Deshpande', 'Prof. Priya Deshpande', 'Prof. Kailas Devadkar', 'Dr. Sudhir Namdeorao Dhage', 'Prof. Surekha Dholay', 'Prof. Kiran Gawande', 'Prof. Sunil B. Ghane', 'Dr. Prachi Gharpure', 'Prof. Najib Ghatte', 'Prof. Anand Godbole', 'Prof. Arti Hadap', 'Prof. Aparna Halbe', 'Prof. G. T. Haldankar', 'Prof. Varsha Hole', 'Dr. Preetida Vinayakray Jani', 'Dr. D. R. Kalbande', 'Prof. Vijaya Kamble', 'Prof. Harshil Kanakia', 'Dr. Aarti Karande', 'Dr. Deepak C Karia', 'Prof. P. V. Kasambe', 'Dr. Uday Pandit Khot', 'Prof. Reeta Koshy', 'Dr. Sujata S Kulkarni', 'Dr. Sukanya A. Kulkarni', 'Prof. Swapnali Kurhade', 'Prof. Pallavi Malame', 'Prof. Anand D. Mane', 'Prof. Nikhita Mangaonkar', 'Dr. B. K. Mishra', 'Prof. Nikahat Mulla', 'Prof. Mayura Nagar', 'Dr. Anant V. Nimkar', 'Prof. Milind Paraye', 'Prof. Manish M. Parmar', 'Prof. Renuka Pawar', 'Prof. Jyoti Ramteke', 'Dr. Y.S. Rao', 'Dr. Surendra S. Rathod', 'Prof. Nataasha Raul', 'Dr. Pooja Raundale', 'Prof. Sakina Salmani', 'Prof. Abhijeet Salunke', 'Dr. Rajendra R Sawant', 'Prof. Rupali Sawant', 'Dr. Payal Hitesh Shah', 'Dr. Radha Shankarmani', 'Prof. Taruna Sharma', 'Prof. Jignesh Sisodia', 'Dr. Reena Sonkusare', 'Dr. Rajendra Sutar', 'Prof. Kiran Talele', 'Prof. Pallavi Thakur', 'Dr. Kushal Tuckley']

In [543]:
# Convert the 'Guid 2 Name' column to strings
df['Guid 2 Name'] = df['Guid 2 Name'].astype(str)

# Get the unique values of 'Guid 2 Name'
unique_values = df['Guid 2 Name'].unique()

# Define a custom sorting function
def custom_sort(val):
    # Split the string into parts before and after the last letter
    parts = str(val).rsplit(maxsplit=1)
    if len(parts) == 1:
        return ('', parts[0])
    prefix, last_letter = parts
    # Sort by last letter first, then by the prefix
    return (last_letter, prefix)

# Sort the unique values using the custom sorting function
sorted_unique_values = sorted(unique_values, key=custom_sort)

print(sorted_unique_values)

['nan', 'Prof. Dayanand Ambawade', 'Prof. Nida Bakereywala', 'Mr. Sarvesh Bedekar', 'Prof. Narendra Bhagat', 'Dr. Prasenjit Bhavathankar', 'D. V. Bhoir', 'Prof. Pramod Bide', 'Prof. Sheetal Chaudhari', 'Prof. Priya Chimurkar', 'Dr. Rita Das', 'Dr. Amol S Deshpande', 'Prof. Kailas Devadkar', 'Dr. Sudhir Namdeorao Dhage', 'Prof. Surekha Dholay', 'Prof. Kiran Gawande', 'Prof. Sunil B. Ghane', 'Dr. Prachi Gharpure', 'Prof. Najib Ghatte', 'Prof. Anand Godbole', 'Prof. Aparna Halbe', 'Prof. G. T. Haldankar', 'Prof. Varsha Hole', 'Yogesh Jadhav', 'Dr.Mithali Jage', 'Dr. D. R. Kalbande', 'Prof. Vijaya Kamble', 'Prof. Harshil Kanakia', 'Dr. Aarti Karande', 'Dr. Deepak C Karia', 'Prof. P. V. Kasambe', 'Prof. Kaisar Katchi', 'Dr. Uday Pandit Khot', 'Prof. Reeta Koshy', 'Dr. Sujata S Kulkarni', 'Dr. Reena Kumbhare', 'Prof. Swapnali Kurhade', 'Prof. Pallavi Malame', 'Prof. Anand D. Mane', 'Prof. Nikhita Mangaonkar', 'Prof. Nikahat Mulla', 'Prof. Mayura Nagar', 'Prof. Meghana Naik', 'Dr. Anant V. Nimkar', 'Prof. Manish M. Parmar', 'Prof. Renuka Pawar', 'Prof. Jyoti Ramteke', 'Dr. Y.S. Rao', 'Dr. Surendra S. Rathod', 'Prof. Nataasha Raul', 'Dr. Pooja Raundale', 'Dr. K.T.V. Reddy', 'Prof. Sakina Salmani', 'Prof. Abhijeet Salunke', 'Dr. Rajendra R Sawant', 'Prof. Rupali Sawant', 'Dr. Payal Hitesh Shah', 'Dr. Radha Shankarmani', 'Dr. Avinash Sharma', 'Dr. Reena Sonkusare', 'Dr. Rajendra Sutar', 'Prof. Kiran Talele', 'Prof. Pallavi Thakur', 'Prof. Ananthalakshmi Venkatesh', 'Prof. Sneha A. Weakey']

In [544]:
df['Type of Paper'].unique()

array(['Conference', 'Journal', 'international', 'national', nan],
      dtype=object)

In [545]:
df['Type of Publication'].unique()

array(['International', 'National', 'international', 'national',
       'Conference', nan], dtype=object)

In [546]:
# Specify the column and the dictionary of old and new values
column_to_rename_values = {'international': 'International', 'national': 'National'}

# Rename values in the specified column
df['Type of Paper'] = df['Type of Paper'].replace(column_to_rename_values)

In [547]:
# Specify the column and the dictionary of old and new values
column_to_rename_values = {'international': 'International', 'national': 'National'}

# Rename values in the specified column
df['Type of Publication'] = df['Type of Publication'].replace(column_to_rename_values)

In [548]:
df['Type of Paper'].unique()

array(['Conference', 'Journal', 'International', 'National', nan],
      dtype=object)

In [549]:
df['Type of Publication'].unique()

array(['International', 'National', 'Conference', nan], dtype=object)

In [550]:
value_counts = df['Type of Paper'].value_counts()
value_counts

Type of Paper
Conference       545
International    277
Journal           77
National          55
Name: count, dtype: int64

In [551]:
value_counts = df['Type of Publication'].value_counts()
value_counts

Type of Publication
International    855
National          98
Conference         1
Name: count, dtype: int64

In [552]:
import pandas as pd

# Assuming df is your DataFrame and 'Type of Paper' and 'Type of Publication' are the names of the columns
# Concatenate the values from both columns with a space in between
combined_values = df['Type of Paper'].astype(str) + " " + df['Type of Publication'].astype(str)

# Get the unique combinations
unique_combinations = combined_values.unique()

# Create a DataFrame with the unique combinations
unique_combinations_df = pd.DataFrame({'Combined Values': unique_combinations})

print(unique_combinations_df)

               Combined Values
0     Conference International
1        Journal International
2          Conference National
3             Journal National
4  International International
5            National National
6        Conference Conference
7                      nan nan

In [553]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame
# Identify rows where both "Type of Paper" and "Type of Publication" contain the word "internation"
mask = (df['Type of Paper'].str.contains('International', case=False, na=False)) & \
       (df['Type of Publication'].str.contains('International', case=False, na=False))

# Set the value of "Type of Paper" to null for those rows
df.loc[mask, 'Type of Paper'] = np.nan

# Now you can use the modified DataFrame for further analysis or processing

In [554]:
import pandas as pd

# Assuming df is your DataFrame and 'Type of Paper' and 'Type of Publication' are the names of the columns
# Concatenate the values from both columns with a space in between
combined_values = df['Type of Paper'].astype(str) + " " + df['Type of Publication'].astype(str)

# Get the unique combinations
unique_combinations = combined_values.unique()

# Create a DataFrame with the unique combinations
unique_combinations_df = pd.DataFrame({'Combined Values': unique_combinations})

print(unique_combinations_df)

            Combined Values
0  Conference International
1     Journal International
2       Conference National
3          Journal National
4         nan International
5         National National
6     Conference Conference
7                   nan nan

In [555]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame
# Identify rows where both "Type of Paper" and "Type of Publication" contain the word "internation"
mask = (df['Type of Paper'].str.contains('National', case=False, na=False)) & \
       (df['Type of Publication'].str.contains('National', case=False, na=False))

# Set the value of "Type of Paper" to null for those rows
df.loc[mask, 'Type of Paper'] = np.nan

# Now you can use the modified DataFrame for further analysis or processing

In [556]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame
# Identify rows where both "Type of Paper" and "Type of Publication" contain the word "internation"
mask = (df['Type of Paper'].str.contains('Conference', case=False, na=False)) & \
       (df['Type of Publication'].str.contains('Conference', case=False, na=False))

# Set the value of "Type of Paper" to null for those rows
df.loc[mask, 'Type of Publication'] = np.nan

# Now you can use the modified DataFrame for further analysis or processing

In [557]:
import pandas as pd

# Assuming df is your DataFrame and 'Type of Paper' and 'Type of Publication' are the names of the columns
# Concatenate the values from both columns with a space in between
combined_values = df['Type of Paper'].astype(str) + " " + df['Type of Publication'].astype(str)

# Get the unique combinations
unique_combinations = combined_values.unique()

# Create a DataFrame with the unique combinations
unique_combinations_df = pd.DataFrame({'Combined Values': unique_combinations})

print(unique_combinations_df)

            Combined Values
0  Conference International
1     Journal International
2       Conference National
3          Journal National
4         nan International
5              nan National
6            Conference nan
7                   nan nan

In [558]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title of Paper          958 non-null    object
 1   Year                    958 non-null    object
 2   Application Type        958 non-null    object
 3   Application Course      958 non-null    object
 4   Application Department  957 non-null    object
 5   Application Class       958 non-null    object
 6   Guid 1 Name             958 non-null    object
 7   Guid 2 Name             958 non-null    object
 8   Type of Paper           622 non-null    object
 9   Type of Publication     953 non-null    object
 10  Conference_Type         926 non-null    object
dtypes: object(11)
memory usage: 82.5+ KB

In [559]:
df['Year'].unique()

array(['2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22',
       '2022-23', '2023-24', '2024-25'], dtype=object)

In [560]:
df['Application Type'].unique()

array(['Student', 'Faculty', 'Research Scholar'], dtype=object)

In [561]:
df['Application Course'].unique()

array(['UG', 'PG', 'PhD', 'Faculty'], dtype=object)

In [562]:
df['Application Department'].unique()

array(['COMPS', 'IT', 'ETRX', 'MCA', 'EXTC', nan], dtype=object)

In [563]:
df['Application Class'].unique()

array(['F.Y.', 'Student', 'B.E.', 'S.Y.MTech', 'T.Y.MCA', 'Faculty',
       'PhD', 'T.Y.', 'M.E.', 'S.Y.', 'S.Y.MCA', 'Research Scholar',
       'F.Y.MTech', 'F.Y.MCA'], dtype=object)

In [564]:
df['Conference_Type'].unique()

array(['IEEE', 'Other', 'Springer', 'ACM', 'ieee', 'other', nan,
       'spriger'], dtype=object)

In [565]:
# Specify the column and the dictionary of old and new values
column_to_rename_values = {'ieee': 'IEEE', 'other': 'Other', 'spriger': 'Springer'}

# Rename values in the specified column
df['Conference_Type'] = df['Conference_Type'].replace(column_to_rename_values)

In [566]:
df['Conference_Type'].unique()

array(['IEEE', 'Other', 'Springer', 'ACM', nan], dtype=object)

In [567]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title of Paper          958 non-null    object
 1   Year                    958 non-null    object
 2   Application Type        958 non-null    object
 3   Application Course      958 non-null    object
 4   Application Department  957 non-null    object
 5   Application Class       958 non-null    object
 6   Guid 1 Name             958 non-null    object
 7   Guid 2 Name             958 non-null    object
 8   Type of Paper           622 non-null    object
 9   Type of Publication     953 non-null    object
 10  Conference_Type         926 non-null    object
dtypes: object(11)
memory usage: 82.5+ KB

In [568]:
df['Guid 1 Name'].unique()

array(['Dr. Y.S. Rao', 'Prof. Manisha Bansode',
       'Dr. Sudhir Namdeorao Dhage', 'Prof. Manish M. Parmar',
       'Dr. Reena Sonkusare', 'Prof. Nataasha Raul',
       'Prof. Anand D. Mane', 'Dr. Anant V. Nimkar',
       'Prof. Dayanand Ambawade', 'Prof. Rupesh Bhoir',
       'Prof. Jyoti Ramteke', 'Prof. Anand Godbole', 'Dr. D. R. Kalbande',
       'Prof. Kiran Gawande', 'Dr. Prachi Gharpure', 'Prof. Reeta Koshy',
       'Prof. Surekha Dholay', 'Dr. Surendra S. Rathod',
       'Dr. Pooja Raundale', 'Prof. Jignesh Sisodia',
       'Prof. Abhijeet Salunke', 'Dr. Radha Shankarmani',
       'Dr. Preetida Vinayakray Jani', 'Prof. Pramod Bide',
       'Dr. Deepak C Karia', 'nan', 'Dr. Amol S Deshpande',
       'Prof. Sunil B. Ghane', 'Prof. P. V. Kasambe', 'Prof. Varsha Hole',
       'Prof. Swapnali Kurhade', 'Prof. Sheetal Chaudhari',
       'Prof. Kailas Devadkar', 'Prof. Rupali Sawant',
       'Prof. Renuka Pawar', 'Prof. Aparna Halbe',
       'Dr. Prasenjit Bhavathankar', 'Prof. Nikahat Mulla',
       'Dr. Rajendra Sutar', 'Prof. G. T. Haldankar',
       'Prof. Kiran Talele', 'Dr. Kushal Tuckley',
       'Dr. Payal Hitesh Shah', '0', 'Prof. Narendra Bhagat',
       'Prof. Priya Chimurkar', 'Prof. Najib Ghatte',
       'Prof. Priya Deshpande', 'Dr. Uday Pandit Khot',
       'Prof. Sakina Salmani', 'Prof. Harshil Kanakia',
       'Prof. Nikhita Mangaonkar', 'Prof. Pallavi Thakur',
       'Dr. Neeti Desai', 'Prof. Taruna Sharma', 'Dr. Aarti Karande',
       'Prof. Mayura Nagar', 'Dr. B. K. Mishra',
       'Dr. Sukanya A. Kulkarni', 'Prof. Vijaya Kamble',
       'Prof. Arti Hadap', 'Prof. Milind Paraye', 'Dr. Rajendra R Sawant',
       'Dr. Sujata S Kulkarni', 'Prof. Pallavi Malame', 'Dr. Rita Das',
       'Prof. Prachi Dalvi'], dtype=object)

In [569]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame and 'Guid 1 Name' is the name of your column
# Replace '0' with NaN
df['Guid 1 Name'] = df['Guid 1 Name'].replace('0', np.nan)

# Now you can use the modified DataFrame for further analysis or processing

In [570]:
df['Guid 1 Name'].unique()

array(['Dr. Y.S. Rao', 'Prof. Manisha Bansode',
       'Dr. Sudhir Namdeorao Dhage', 'Prof. Manish M. Parmar',
       'Dr. Reena Sonkusare', 'Prof. Nataasha Raul',
       'Prof. Anand D. Mane', 'Dr. Anant V. Nimkar',
       'Prof. Dayanand Ambawade', 'Prof. Rupesh Bhoir',
       'Prof. Jyoti Ramteke', 'Prof. Anand Godbole', 'Dr. D. R. Kalbande',
       'Prof. Kiran Gawande', 'Dr. Prachi Gharpure', 'Prof. Reeta Koshy',
       'Prof. Surekha Dholay', 'Dr. Surendra S. Rathod',
       'Dr. Pooja Raundale', 'Prof. Jignesh Sisodia',
       'Prof. Abhijeet Salunke', 'Dr. Radha Shankarmani',
       'Dr. Preetida Vinayakray Jani', 'Prof. Pramod Bide',
       'Dr. Deepak C Karia', 'nan', 'Dr. Amol S Deshpande',
       'Prof. Sunil B. Ghane', 'Prof. P. V. Kasambe', 'Prof. Varsha Hole',
       'Prof. Swapnali Kurhade', 'Prof. Sheetal Chaudhari',
       'Prof. Kailas Devadkar', 'Prof. Rupali Sawant',
       'Prof. Renuka Pawar', 'Prof. Aparna Halbe',
       'Dr. Prasenjit Bhavathankar', 'Prof. Nikahat Mulla',
       'Dr. Rajendra Sutar', 'Prof. G. T. Haldankar',
       'Prof. Kiran Talele', 'Dr. Kushal Tuckley',
       'Dr. Payal Hitesh Shah', nan, 'Prof. Narendra Bhagat',
       'Prof. Priya Chimurkar', 'Prof. Najib Ghatte',
       'Prof. Priya Deshpande', 'Dr. Uday Pandit Khot',
       'Prof. Sakina Salmani', 'Prof. Harshil Kanakia',
       'Prof. Nikhita Mangaonkar', 'Prof. Pallavi Thakur',
       'Dr. Neeti Desai', 'Prof. Taruna Sharma', 'Dr. Aarti Karande',
       'Prof. Mayura Nagar', 'Dr. B. K. Mishra',
       'Dr. Sukanya A. Kulkarni', 'Prof. Vijaya Kamble',
       'Prof. Arti Hadap', 'Prof. Milind Paraye', 'Dr. Rajendra R Sawant',
       'Dr. Sujata S Kulkarni', 'Prof. Pallavi Malame', 'Dr. Rita Das',
       'Prof. Prachi Dalvi'], dtype=object)

In [571]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title of Paper          958 non-null    object
 1   Year                    958 non-null    object
 2   Application Type        958 non-null    object
 3   Application Course      958 non-null    object
 4   Application Department  957 non-null    object
 5   Application Class       958 non-null    object
 6   Guid 1 Name             957 non-null    object
 7   Guid 2 Name             958 non-null    object
 8   Type of Paper           622 non-null    object
 9   Type of Publication     953 non-null    object
 10  Conference_Type         926 non-null    object
dtypes: object(11)
memory usage: 82.5+ KB

In [572]:
df['Guid 2 Name'].unique()

array(['nan', 'Dr. Surendra S. Rathod', 'Dr. Anant V. Nimkar',
       'Mr. Sarvesh Bedekar', 'Dr.Mithali Jage', 'Dr. Prachi Gharpure',
       'Prof. Anand Godbole', 'Dr. Rajendra R Sawant',
       'Dr. Avinash Sharma', 'Prof. Kiran Talele',
       'Dr. Sudhir Namdeorao Dhage', 'Yogesh Jadhav',
       'Prof. Sunil B. Ghane', 'Prof. Nida Bakereywala',
       'Dr. K.T.V. Reddy', 'Dr. Rajendra Sutar', 'Dr. Uday Pandit Khot',
       'Prof. P. V. Kasambe', 'D. V. Bhoir', 'Prof. Priya Chimurkar',
       'Dr. Payal Hitesh Shah', 'Dr. Deepak C Karia',
       'Dr. Pooja Raundale', 'Prof. Mayura Nagar', 'Prof. Pallavi Thakur',
       'Prof. Dayanand Ambawade', 'Prof. Pallavi Malame',
       'Dr. Reena Sonkusare', 'Dr. Rita Das', 'Dr. Reena Kumbhare',
       'Prof. Abhijeet Salunke', 'Dr. Amol S Deshpande',
       'Dr. Prasenjit Bhavathankar', 'Prof. Surekha Dholay',
       'Prof. Meghana Naik', 'Prof. Reeta Koshy', 'Prof. Najib Ghatte',
       'Prof. Pramod Bide', 'Dr. Y.S. Rao', 'Dr. Radha Shankarmani',
       'Prof. Nikahat Mulla', 'Prof. Kailas Devadkar',
       'Prof. Rupali Sawant', 'Prof. Kaisar Katchi',
       'Prof. Kiran Gawande', 'Prof. Jyoti Ramteke',
       'Prof. Sneha A. Weakey', 'Prof. Manish M. Parmar',
       'Prof. Anand D. Mane', 'Prof. Nataasha Raul',
       'Prof. Vijaya Kamble', 'Prof. Renuka Pawar',
       'Prof. Harshil Kanakia', 'Prof. Nikhita Mangaonkar',
       'Dr. Aarti Karande', 'Prof. Ananthalakshmi Venkatesh',
       'Prof. Narendra Bhagat', 'Prof. Aparna Halbe',
       'Prof. Sheetal Chaudhari', 'Prof. Swapnali Kurhade',
       'Prof. Varsha Hole', 'Dr. Sujata S Kulkarni', 'Dr. D. R. Kalbande',
       'Prof. G. T. Haldankar', 'Prof. Sakina Salmani'], dtype=object)

In [573]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title of Paper          958 non-null    object
 1   Year                    958 non-null    object
 2   Application Type        958 non-null    object
 3   Application Course      958 non-null    object
 4   Application Department  957 non-null    object
 5   Application Class       958 non-null    object
 6   Guid 1 Name             957 non-null    object
 7   Guid 2 Name             958 non-null    object
 8   Type of Paper           622 non-null    object
 9   Type of Publication     953 non-null    object
 10  Conference_Type         926 non-null    object
dtypes: object(11)
memory usage: 82.5+ KB

In [574]:
df['Type of Paper'].unique()

array(['Conference', 'Journal', nan], dtype=object)

In [575]:
df['Type of Publication'].unique()

array(['International', 'National', nan], dtype=object)

In [576]:
df['Conference_Type'].unique()

array(['IEEE', 'Other', 'Springer', 'ACM', nan], dtype=object)

In [577]:
df.to_csv('dataset.csv', index=False)